.proj-scroll, .messaging{
    overflow: auto;
    height: 80vh;
}
.project-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-top: 0;
    top: 0;
    background-color: rgb(178, 178, 182);
}




/* CONVO */
.messaging{
    overflow: auto;
    height: 80vh;
    position: relative;
}
.convo-pic{
    width: 100px;
}
.mess-in{
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
}